{% extends 'myapp/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
    <h1>{{ flight.flight_name }}</h1>
    <ul>
        <li>{{ flight.flight_number }}</li>
        <li>{{ flight.origin }}</li>
        <li>{{ flight.dest }}</li>
    </ul>

    <form method="POST" action="/myapp/booking/" class="form-group">
        {% csrf_token %}
        <input type="hidden" name="flight_id" value="{{ flight.pk }}">
        <button type="submit" class="btn btn-success">Book</button>
    </form>
{% endblock %}